
@keyframes animation_item{
    0%{
        opacity: 1;
        transform: translateY(0px);

    }
    50%{
        transform: translateY(-10px);
        opacity: 0;
    }
    51%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}