@use "sass:list";
@import './break.scss';
@mixin flexMatrice($list, $child) {
    @apply flex;

    @each $breakpoint,
    $values in $list {
        $direction: nth($values, 1); // row, col
        $space_x: nth($values, 2); // col: %, row: rem
        $space_y: nth($values, 3); // col: rem, row: rem

        $b: break($breakpoint);

        @apply #{$b}flex-#{$direction};
        $width: calc(100 - $space_x * 2);


        @if $direction=='col' {
            >* {
                @apply #{$b}w-[#{$width}%];
            }
        } @else {
            >* {
                @apply #{$b}w-full;
            }
        }

        @for $i from 1 through $child {
            @if $i>1 {
                >*:nth-child(#{$i}) {
                    @if $direction=='col' {
                        $margin_x: calc(100 - (100 - $space_x * ($i - 1)));
                        @apply #{$b}ml-[#{$margin_x}%] #{$b}mr-[-#{$margin_x}%];
                        @apply #{$b}mt-[#{$space_y}rem];
                    } @else if $direction=='row' {
                        @apply #{$b}ml-[#{$space_x}rem] #{$b}mr-0;
                        @apply #{$b}mt-[calc(#{$space_y}rem_*_#{$i - 1})];
                    }
                }
            }
        }
    }

    @content;
}
// @include flexMatrice(('none': ('col', 12, 2), 'sm': ('col', 12, 2),'md': ('row', 2, 3),'lg': ('col', 12, 2), '2xl': ('col', 16, 3)),3);


@mixin images($list, $children){
    @each $breakpoint, $values in $list{
        $b: break($breakpoint);
        $row: nth($values, 1);
        $gap: nth($values, 2);
        $line: nth($values, 3);
        $cols: $children / $row;
        .users_container{
            @apply #{$b}grid-rows-#{$row} #{$b}grid-cols-#{$cols}  #{$b}gap-#{$gap};
        }
        
        $cmp: 1;
        @for $i from 1 through $children{
            .user_container:nth-child(#{$i}){
                $num: ($cmp * $gap) * $line;
                $cmp: $cmp + 1;
                @apply #{$b}mt-[-#{$num}px] #{$b}mb-[#{$num}px];
                @if $i % $cols == 0 {
                    $cmp: 1;
                }
            }
        }
    }
}

// @include images(('none': (6, 4, 10),'sm': (4, 8, 2),'md': (3, 6, 2),'lg': (3, 6, 3) ,'xl': (2, 6, 3)), 12);
